.login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3153bb;
    min-height: 100vh;
}

.card-header {
    background-color: white;
    color: black;
    border-bottom: none;
}

.koleksi-body {
    background-color: #dee7ff;
    min-height: 100vh;
}

.koleksi-container {
    width: 90%;
}

.koleksi-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-body {
    background-color: #dee7ff;
    min-height: 100vh;
}

.edit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-container {
    width: 70%;
}
